<center><h1>Please Enter ISBN</h1>



<h2><%= isbn_num%> <%=message_one%> <%= results%> <%=number%></h2>

<form action='isbn_num' method='post'>
		<input type='text' require name='isbn_input'><br>
		<p><input type='submit'></p>

</form></center>