<center><h1>Please Enter An Isbn</h1>



<h2><%= isbn_num%> <%=message_one%> <%= results%> <%=number%></h2>

<form action='isbn_num' method='post'>
		<input type='text' name='isbn_input'><br><br><br><br><br>
										<!-- br is break, new line, moves down one -->

		<p><input type='submit'></p>  <!-- p is paragraph. centers -->

</form></center>